<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Simulator.Scenario" value="" />
  <add key="Simulator.NumberOfDevices" value="500" />
  <add key="Simulator.EventHubNamespace" value="iotapp5sb" />
  <add key="Simulator.EventHubName" value="eventhub-iot" />
  <add key="Simulator.EventHubSasKeyName" value="SendReceive" />
  <add key="Simulator.EventHubPrimaryKey" value="EzBTgVSOBlkYIRM5I28wd/54fBHFE4K59un7mOYNUKA=" />
  <add key="Simulator.EventHubTokenLifetimeDays" value="7" />
  <add key="Simulator.WarmUpDuration" value="0.00:00:30" />
  <!--See: https://msdn.microsoft.com/en-us/library/system.diagnostics.tracing.eventlevel(v=vs.110).aspx -->
  <add key="Simulator.LogLevel" value="Informational" />
</appSettings>